.statistic-chart {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  padding: 20px;
  -moz-column-gap: 12px;
  column-gap: 12px;

  .statistic-header {
    grid-column: 1 / -1;
    text-align: center;
  }

  .city-information {
    align-self: flex-start;
    padding-top: 70px;
    .groups-cities {
      height: 520px;
      &.scroll {
        overflow-y: scroll;
        scrollbar-width: none !important; /* Firefox */

        &::-webkit-scrollbar {
          width: 3px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: transparent;
          border: 6px solid #6c6c6c;
          border-radius: 1px;
        }
        &::-webkit-scrollbar-track {
          padding: 0;
          position: relative;
          right: 0;
          top: 0;
          background: transparent;
        }
      }
    }
  }
}
